<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="africa.collect.android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application>
        <activity android:name=".Activity.MonnifyActivity" />
        <activity android:name=".Activity.FlutterWaveActivity" />
        <!--        <activity android:name=".Activity.FlutterWaveActivity" />-->
    </application>
</manifest>